<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <style>
      .container{
          background-color: white;
          color: black;
      }
      body{
        background: url("../static/bg.png") no-repeat center center fixed;
        background-size: cover;
        color: black;
      }
      .highlight{
        background-color: #05143d;
        color: white;
      }
      </style>
  </head>
  <body>
    <div class="container">
      {% if details %}
      <div class="jumbotron">
          <h2>Teams</h2>
        </div>
        <table class="table">
          <thead>
            <tr class="highlight">
              <th>Team Name</th>
              <!-- <th>Project</th> -->
              <th>Team Size</th>
              <th>Team Manager</th>
              <th>Team Members</th>
            </tr>
          </thead>
         {%for i in details %}
            <tbody>
              <tr>
                  <td>{{i[0][1]}}</td>
                  <!-- <td>{{i[2]}}</td> -->
                  <td>{{i[0][2]}}</td>
                  <td>{{i[0][3]}}</td>
                  {% if i[1] %}
                  <td>
                  {% for member in i[1] %}
                    <li>{{member}}</li>
                  {% endfor %}
                </td>
                  {% else %}
                  <td> ------</td>
                  {% endif %}
              </tr>
         {% endfor %}
            </tbody>
          </table>
      </div>
      {% else %}
      <div class="jumbotron">
          <center><h2 >No Teams</h2></center>
      </div>
      {% endif %}
  </body>
</html>
